@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  background-color: #2e2e31;
}

.container {
  width: 400px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 50px 40px 10px 40px;
}

.container header {
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 30px 0;
}

.container .form-outer {
  width: 100%;
  overflow: hidden;
}

.form-outer form {
  display: flex;
  width: 400%;
}

.form-outer form .page {
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}

.form-outer form .page .title {
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}

.form-outer form .page .field {
  height: 45px;
  width: 400px;
  margin: 45px 0;
  display: flex;
  position: relative;
}

.form-outer form .page .field .label {
  position: absolute;
  top: -50px;
  font-weight: 500;
}

.form-outer form .page .field input {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 15px;
}

.form-outer form .page .field button {
  width: 100%;
  height: calc(100% + 5px);
  margin-top: -20px;
  border: none;
  background: #2e2e31;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease;
}

.form-outer form .page .field button:hover {
  background: #f0c3c3;
}
